/*Installing 'Journal' font*/
@font-face {
	font-family: 'journalregular';
	src: url('fonts/journal-webfont.woff2') format('woff2'),
	url('fonts/journal-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

header {
	font-family: 'journalregular';
	color: #89674F;
}

h1{
	font-size: 4em;
}

p{
	font-size: 2em;
}
footer > p {
	color: #89674F;
	text-align: center;
	font-family: 'Verdana';
	font-size: 1em;
}