
body {
	width: 100%;
	margin: 0 auto;
}
header > p {
	text-align: center;
	padding-bottom: 15px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding-top: 10px;
	margin: 0;
}

#country_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 95%;
    margin: auto;
    padding-top: 50px;
   }

.rectangle_blanc {
	width: 20%;
	background-color: white;
	border: 2px solid grey;

}

.rectangle_blanc > img {
	width: 95%;
	padding-top: 10px;
	padding-bottom: auto;
}
footer {
	display: flex;
	flex-direction: row;
	padding: 15px 0;
}
footer > p {
	align-self: center;
	width: 80%;
}
#reseau-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#reseau-container > img {
	width: 20%;
	height: auto;
}

#reseau-container > img:first-child {
	margin-left: 12.5%;
}

#reseau-container > img:last-child {
	margin-right: 12.5%;
}