body {
	width: 100%;
	margin: 0 auto;
}

#content > img {
	width: 100%;

}

#left-panel {
	width: 20%;
	height: 3115px;
	float: left;
}

#left-panel > h3 {
	margin: 60px 0 20px 0;
}

#left-panel > p {
	margin: 0;
}

#left-panel > img {
	width: 80%;
	margin: 0 38px;
}

#anecdote_container {
	height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.fond_blanc {
	width: 270px;
	height: 240px;
	margin: 30px 52px;
	z-index: 1;
	position: absolute;
}

.fond_blanc2 {
	width: 270px;
	height: 240px;
	margin: 30px 52px;
	z-index: 0;
	position: relative;
	transform: rotate(-8deg);
}

.fond_blanc > img {
	margin: 10px 0 0 10px;
}

#content {
	width: 80%;
	display: flex;
	flex-direction: column;

}

h2 {
	width: 100%;
}

#presentation > p {
	text-align: center;
	margin: auto 70px auto 70px;
}

#conteneur-plats {
	width: 90%;
	margin: 0 80px;
}

#img-gauche {
	height: 300px;
	margin: 0 0 30px 0;
}

#img-droite {
	height: 300px;
}

#img-droite > p {
	margin: auto 15px;
	
}

#img-gauche > img {
	display: flex;
	float: left;
	margin-right: 15px;

}

#img-droite > img {
	display: flex;
	float: right;
	margin-left: 15px;
}

#conteneur-villes {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 0 0 80px;

}

#ville {
	width: 400px;
	

}

#galerie_container {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 80px;
}

.rectangle_blanc > img {
	margin: 10px 0 0 10px;
}

.rectangle_blanc {
	width: 270px;
	height: 240px;
	margin: 30px 0;
}



header > p {
	text-align: center;
	padding-bottom: 15px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding-top: 10px;
	margin: 0;
}
footer {
	display: flex;
	flex-direction: row;
	padding: 15px 0;

}
footer > p {
	align-self: center;
	width: 80%;
}
#reseau-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#reseau-container > img {
	width: 20%;
	height: auto;
}

#reseau-container > img:first-child {
	margin-left: 12.5%;
}

#reseau-container > img:last-child {
	margin-right: 12.5%;
}